.footer {
  background: rgb(238, 174, 202);
  background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(180, 182, 222, 1) 76%, rgba(148, 187, 233, 1) 100%);
  color: black;
  padding: 40px ;
  
}

.footer-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 30px;
}

.footer h2 {
  margin-bottom: 10px;
}
.footer-bottom {
  text-align: center;
  margin-top: 30px;
  border-top: 1px solid #999;
  padding-top: 10px;
  font-size: 16px;
}
.footer-contact {
    font-size: 15px;
    /* padding: 2px; */
}
.footer-brand {
    font-size: 15px;
    padding: 2px;
}